<div class="header d-flex align-items-center justify-content-center flex-column">
    <h1>Career.Build</h1>
    <div class="w-50 text-center description">
        <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Hac aliquam et dis proin ad tellus viverra congue sit.
            Orci et curabitur vestibulum accumsan hac primis per. Mus consectetur nisi pellentesque interdum
            suspendisse; vestibulum netus malesuada. Facilisis nibh fringilla morbi non tristique platea congue.
            Penatibus dignissim tincidunt himenaeos, condimentum vivamus fermentum. Leo feugiat quam vivamus tristique
            potenti convallis. Auctor tortor ac id imperdiet consectetur nulla. Ac netus tristique molestie fusce
            sagittis et risus mattis. Eleifend lectus facilisi convallis magnis lacus fames.</p>
    </div>
</div>
<div class="about d-flex align-items-center justify-content-center mt-5">
    <div class="w-50">
        <img src="./assets/Img/undraw_career-progress_vfq5.svg" alt="">
    </div>
    <div class="w-25 me-5">
        <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Nibh ad dolor conubia taciti neque maecenas molestie
            litora. Mauris sapien inceptos donec; mollis natoque mi. Gravida id conubia eleifend praesent interdum porta
            fringilla duis per. Auctor taciti sociosqu molestie id iaculis metus. Posuere bibendum pulvinar luctus dui;
            amet lorem felis vestibulum litora.

            Quis sagittis aliquet taciti pulvinar felis; ac velit. Urna vehicula fames id orci lectus bibendum. Ultrices
            consectetur aptent sollicitudin sapien litora congue. Malesuada ut elementum netus quam pellentesque duis
            lacinia facilisis. Fermentum enim aliquam dignissim accumsan iaculis; orci risus est adipiscing? Mus ac
            senectus elit taciti praesent pharetra pretium. Et mauris nostra et vulputate posuere fusce.</p>
    </div>
</div>