<section class="header d-flex align-items-center justify-content-center flex-column">
    <h1>Career.Build</h1>
    <div class="w-50 text-center description">
        <p class=" font-monospace">Unlock Your Potential and Build Your Future.
            Discover the skills you need, learn at your own pace, and connect with opportunities that match your ambitions.
            Grow smarter, dream bigger, and take confident steps toward a successful career.
            Sharpen your talents, stay motivated, and turn your goals into real achievements.
            Every step you take brings you closer to the future you deserve.</p>
    </div>
</section>
<section class="about d-flex align-items-center justify-content-center mt-4 py-5 container">
    <div class="w-50 pt-5">
        <img src="./assets/Img/undraw_career-progress_vfq5.svg" alt="">
    </div>
    <div class="discover lead pt-5">
        <p><span class="fw-bold text-start">Discover Your True Strengths and Unlock Your Potential.</span>
            Explore the skills and talents that make you unique, and embark on a journey of self-discovery that will empower you to grow. Learn at your own pace and transform your abilities into powerful tools for success. With every step, you’ll uncover new strengths and gain the confidence to pursue your dreams. This is your opportunity to redefine what’s possible and unlock the future you deserve.
            <br/>
            <span class="fw-bold text-start"> <br/>Create the Future You’ve Always Dreamed Of.</span>
            Take charge of your journey and turn your aspirations into tangible achievements. With personalized learning paths and clear, actionable steps, you’ll have the support you need to make progress every day. Embrace new opportunities, overcome challenges, and pursue your passions with a clear vision of success. The road to your best self is right ahead—full of growth, transformation, and endless possibilities.</p>
    </div>
</section>
<section class="container-fluid text-center trakcs rounded mt-5 position-relative">
  <div class="trakcsLink">
    <a routerLink="../tracks">Trakcs <i class="fa-solid fa-arrow-right mt-4" style="color: #000000;"></i></a>
  </div>
    <div class="row g-4 d-flex justify-content-center">
        <div class="col-md-4 mt-5">
            <div class="card mx-auto my-4" style="width: 18rem;">
                <img src="../../../assets/Img/backend.PNG" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Back-End</h5>
                  <p class="card-text">This programme teaches languages like JavaScript and Python and data management tools like SQL. This hands-on, project-based learning style prepares you to work as a backend developer after graduation. Suitable for beginners.
                    Apply Now</p>
                  <a routerLink="../courseDetails" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>
        <div class="col-md-4 my-5">
            <div class="card mx-auto mb-4" style="width: 18rem;">
                <img src="../../../assets/Img/backend.PNG" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Back-End</h5>
                  <p class="card-text">This programme teaches languages like JavaScript and Python and data management tools like SQL. This hands-on, project-based learning style prepares you to work as a backend developer after graduation. Suitable for beginners.
                    Apply Now</p>
                  <a routerLink="../courseDetails" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>
        <div class="col-md-4 my-5">
            <div class="card mx-auto mb-4" style="width: 18rem;">
                <img src="../../../assets/Img/backend.PNG" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Back-End</h5>
                  <p class="card-text">This programme teaches languages like JavaScript and Python and data management tools like SQL. This hands-on, project-based learning style prepares you to work as a backend developer after graduation. Suitable for beginners.
                    Apply Now</p>
                  <a routerLink="../courseDetails" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>
    </div>
</section>

