<section class="container" style="margin-top: 100px ;">
  <h3 class="text-start title">Course</h3>
    <h4>{{track.Name}}</h4>
    <p>{{track.providerName}}</p>
    <a style="font-size: 20px; color: blue; text-decoration: none;" [href]="track.URL">Track</a>
    <p class="lead">{{track.Details}}</p>
    <p>{{track.difficultyLevel}}</p>
          <div class="row d-flex justify-content-center">
          @for (track of track.Courses; track $index) {
            <div class="col-md-3 py-4 mt-5 track">
              <div class="card mx-auto my-4" style="width: 18rem;">
                  <p class="text-center"><i class="fa-solid fa-layer-group me-1" style="color: #000000;"></i> {{track.courseDifficulty}}</p>
                  <div class="card-body">
                    <h5 class="card-title">{{track.Name}}</h5>
                    <div class="row">
                    <h5 class="lead mt-2">Skills</h5>
                    @for (skills of  track.Skills; track $index) {
                        <div class="track">
                            <p style="background-color: #f2f2f2; border-radius: 2rem; padding: 4px; text-align: center;">{{skills}}</p>
                        </div>
                      }
                    </div>
                    <a [href]="track.URL" class="btn btn-primary my-3">Take Course</a>
                  </div>
                </div>
          </div>
          }
        </div>
</section>