.header{
    background-color: rgb(230, 230, 230);
    padding: 10px;
}
.header .logo{
    width: 10%;
    margin-right: 20px;
}
.header .time{
    position: relative;
    bottom: 50px;
    left: 10px;
    background-color: rgb(199, 199, 199);
    width: 8%;
}
.location{
    position: relative;
    bottom: 50px;
    left: 10px;
    width: 8%;
}