<section class="header mt-5">
    <div class="title text-center">
        <h2>Skills And Tools</h2>
    </div>
</section>
<section class="container data"> 
  <form class="my-5">
  <div class="row">
    <div class="col-md-4">
      <input type="text" placeholder="Country" class="form-control">
    </div>
    <div class="col-md-4">
      <input type="text" placeholder="City" class="form-control">
    </div>
    <div class="col-md-4">
      <input type="number" placeholder="PhoneNumber" class="form-control">
    </div>
  </div>  
  <div class="btn-group mt-4" role="group" aria-label="Basic radio toggle button group w-25">
    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
    <label class="btn btn-outline-primary" for="btnradio1">Male</label>
  
    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
    <label class="btn btn-outline-primary" for="btnradio2">FeMale</label>
  </div>
    <div class="dropdown major w-100 my-5">
      <button
        class="btn text-main dropdown-toggle"
        type="button"
        id="dropdownMenuButton"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Majors
      </button>
      <ul class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton">
        <li class="dropdown-item">Computer Science</li>
        <li class="dropdown-item">Engineer</li>
        <li class="dropdown-item">Bis</li>
        <li class="dropdown-item">Business</li>
        <li class="dropdown-item">Science</li>
      </ul>
    </div>
    <div class="dropdown major w-100 my-5">
      <button
        class="btn text-main dropdown-toggle"
        type="button"
        id="dropdownMenuButton"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Degree
      </button>
      <ul class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton">
        <li class="dropdown-item">Associate degree (undergraduate)</li>
        <li class="dropdown-item">Bachelor’s degree (undergraduate)</li>
        <li class="dropdown-item">Master’s degree (graduate)</li>
        <li class="dropdown-item">Doctoral degree (graduate)</li>
      </ul>
    </div>
    <div class="dropdown major w-100 my-5">
      <button
        class="btn text-main dropdown-toggle"
        type="button"
        id="dropdownMenuButton"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
      University
      </button>
      <ul class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton">
        <li class="dropdown-item">Cairo University </li>
        <li class="dropdown-item">Misr University For Science And Technology </li>
        <li class="dropdown-item">MSA University </li>
        <li class="dropdown-item">Ain Shams University</li>
        <li class="dropdown-item">Ahram Canadian University </li>
        <li class="dropdown-item">MTI University</li>
        <li class="dropdown-item">6 octoper University </li>
        <li class="dropdown-item">Helwan University</li>
      </ul>
    </div>
    <div class="skills">
      <textarea name="" id="" placeholder="Skills" class="form-control"></textarea>
    </div>
    <div class="mt-4">
      <input type="file" placeholder="Cv" class="form-control">
    </div>
    <div class="d-flex justify-content-end">
      <button class="btn mt-5 submit px-4" routerLink="../jobSeekerDashboard">Submit</button>

    </div>
  </form>
</section>
