.title::after {
    content: "";
    display: block;
    width: 95px;
    height: 5px;
    background-color: #000;
    position: relative;
    left: 1px;
    bottom: 2px;
}
.track{
  transition: all 0.3s;
}
.track:hover{
    transform: scale(1.03);
}