<div class="container content">
    <div class="row signup justify-content-center align-items-center">
        <div class="col-lg-7 image">
            <img class="w-75" src="./assets/Img/undraw_business-decisions_3x2a.svg" alt="">
        </div>
        <div class="col-lg-4 border rounded-3 text-center py-4 inputs">
            <h1 class="mb-5">Login</h1>
            <h5 class="text-start">Company Information</h5>
            <form class="input-group d-flex flex-column my-2">
                <input type="email" placeholder="Company Email" class="rounded-2 form-control w-100 my-3">
                <input type="password" placeholder="Company Password" class="rounded-2 form-control w-100 my-3">
                <a routerLink="" class="forgot">Forgot Password</a>
            </form>
            <button class="btn w-75 mb-3">Login</button>
            <p>Don't Have a n Account ? <a routerLink="../signup">Sign Up</a></p>
            <p>Login As <a routerLink="../../login">Jobseeker</a></p>
        </div>
    </div>
</div>
